<!DOCTYPE html>
<html>

<head>
  <title>Travelchime interview project</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">

  <link rel="icon" href="/assets/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/favicon.png">
</head>

<body>
  <div id="react-main"></div>
  <script src="/js/main.js"></script>
</body>

</html>
