
$navbar-height: 80px;

.alc-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 $page-margin;
  height: $navbar-height;

  a {
    color: black;

    &:hover {
      color: black;
      text-decoration: none;
      box-shadow: 0 3px 0 #000;
    }
  }

  &.white {
    a {
      color: white;

      &:hover {
        color: white;
        text-decoration: none;
        box-shadow: 0 3px 0 white;
      }
    }
  }

  &-main {
    color: $alc-white;
    font-weight: bold;
    font-size: 30px;

    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Mansalva', cursive;

    &-logo {
      width: 30px;
      height: 30px;
      border-radius: 25px;
      background-color: $alc-secondary;
      border: 5px solid $alc-primary;
      margin-right: 16px;
    }
  }

  &-right, &-left {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  &-link {
    color: $alc-white;
    font-weight: bold;
    font-size: 22px;
    height: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 16px;
    font-family: 'Mansalva', cursive;

    &.selected {
      a {
        text-decoration: none;
        box-shadow: 0 3px 0 black;
      }
    }
  }
}